beautifulsoup4==4.13.4
branca==0.8.0
fastapi==0.116.1
folium==0.17.0
geopandas==1.0.1
ipython==8.12.3
ipywidgets==8.1.5
matplotlib==3.8.2
numpy==2.3.1
openai==1.95.1
pandas==2.3.1
Pillow==11.3.0
plotly==5.24.1
pydantic==2.11.7
pyperclip==1.9.0
python-dotenv==1.1.1
Requests==2.32.4
screeninfo==0.8.1
selenium==4.34.2
streamlit==1.41.1
streamlit_extras==0.7.5
streamlit_folium==0.23.1
streamlit_image_select==0.6.0
streamlit_quill==0.0.3
uvicorn==0.35.0
webdriver_manager==4.0.2
youtube_transcript_api==0.6.2
~treamlit==1.38.0
~treamlit==1.41.1
